{"swagger":"2.0","info":{"version":"2.0.1.0","title":"MatchMaker API","description":"The MatchMaker API acts as an interface between your web front-end and the MatchMaker back-end software. Access is controlled via an API key and password (provided upon installation).","termsOfService":"Here are the terms of service","contact":{"name":"MatchMaker Software LTD","url":"https://www.matchmakersoftware.com","email":"support@matchmakersoftware.com"},"license":{"name":"MatchMaker API Licence","url":"https://www.matchmakersoftware.com/epsilon/api/licence"}},"host":"support.matchmakersoftware.com:31006","schemes":["http","https"],"paths":{"/api/Accounts/ActivateAccount":{"put":{"tags":["Accounts"],"summary":"Activate a candidate account","operationId":"Accounts_ActivateAccount","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"query","description":"Token to identify account for activation","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Accounts/CandidateAccountRemovalRequest":{"post":{"tags":["Accounts"],"summary":"Submit a candidate GDPR removal request","description":"Also sisables the candidate's login","operationId":"Accounts_CandidateAccountRemovalRequest","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"API login model","required":true,"schema":{"$ref":"#/definitions/AccountRemovalModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Accounts/CandidateDuplicateCheck":{"get":{"tags":["Accounts"],"summary":"Check for potential duplicate candidates","description":"Potential duplicates will be flagged if any candidates are found that match:<br />\r\n- On email address<br />\r\n- On a combination of forename, surname and phone number\r\n- On a combination of forename, surname and postcode","operationId":"Accounts_CandidateDuplicateCheck","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"peo_no","in":"query","required":false,"type":"integer","format":"int32"},{"name":"peo_email","in":"query","description":"Candidate email address<br />(Max length: 80)","required":false,"type":"string","maxLength":80,"minLength":0},{"name":"peo_forename","in":"query","description":"Candidate forename<br />(Max length: 16)","required":false,"type":"string","maxLength":16,"minLength":0},{"name":"peo_surname","in":"query","description":"Candidate surname<br />(Max length: 20)","required":false,"type":"string","maxLength":20,"minLength":0},{"name":"peo_other_tel","in":"query","description":"Candidate telephone number<br />(Max length: 20)","required":false,"type":"string","maxLength":20,"minLength":0},{"name":"peo_postcode","in":"query","description":"Candidate postcode<br />(Max length: 10)","required":false,"type":"string","maxLength":10,"minLength":0}],"responses":{"200":{"description":"No potential duplicates found"},"409":{"description":"Potential duplicates found. Error message will contain textual explanation."}}}},"/api/Accounts/CandidateEmailIsAvailable":{"get":{"tags":["Accounts"],"summary":"Checks whether email address is available","operationId":"Accounts_CandidateEmailIsAvailable","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"email","in":"query","description":"Candidate's email address","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/Accounts/CandidateLogin":{"post":{"tags":["Accounts"],"summary":"CandidateLogin","operationId":"Accounts_CandidateLogin","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/AttemptCandidateLoginModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CandidateLoginModel"}}}}},"/api/Accounts/CandidatePasswordResetRequest":{"get":{"tags":["Accounts"],"summary":"Generate a password reset request","operationId":"Accounts_CandidatePasswordResetRequest","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"email","in":"query","description":"Candidate's email address","required":true,"type":"string"},{"name":"platform","in":"query","description":"Source platform enum (0 = Web, 1 = App; default is Web)","required":true,"type":"string","enum":["Epsilon","Auriga"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AspPeopleLoginReset"}}}}},"/api/Accounts/CandidatePasswordResetRequestIsValid":{"get":{"tags":["Accounts"],"summary":"Validate a candidate password reset request","operationId":"Accounts_CandidatePasswordResetRequestIsValid","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"rst_webid","in":"query","description":"Password reset request ID number","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/Accounts/CandidateResetPassword":{"post":{"tags":["Accounts"],"summary":"Reset a candidate's password","operationId":"Accounts_CandidateResetPassword","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"resetModel","in":"body","required":true,"schema":{"$ref":"#/definitions/PasswordResetModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Accounts/ClientLogin":{"post":{"tags":["Accounts"],"summary":"Login as a client","operationId":"Accounts_ClientLogin","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"API login model","required":true,"schema":{"$ref":"#/definitions/AttemptLoginModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClientLoginModel"}}}}},"/api/Accounts/CreateCandidateLogin":{"post":{"tags":["Accounts"],"summary":"CreateCandidateLogin","description":"Create a candidate login","operationId":"Accounts_CreateCandidateLogin","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"New Candidate details","required":true,"schema":{"$ref":"#/definitions/CreateCandidateLoginModel"}},{"name":"platform","in":"query","description":"Source platform enum (0 = Web, 1 = App; default is Web)","required":true,"type":"string","enum":["Epsilon","Auriga"]}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Accounts/GetAccessToken":{"get":{"tags":["Accounts"],"summary":"Requests a new AccessToken for API master access","operationId":"Accounts_GetAccessToken","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserToken"}}}}},"/api/Accounts/GetBearerToken":{"get":{"tags":["Accounts"],"operationId":"Accounts_GetBearerToken","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/Accounts/InvalidateAccessToken":{"delete":{"tags":["Accounts"],"summary":"Invalidates the existing master token making it unusable","operationId":"Accounts_InvalidateAccessToken","consumes":[],"produces":[],"responses":{"204":{"description":"No Content"}}}},"/api/Accounts/SendActivationEmail":{"get":{"tags":["Accounts"],"summary":"SendActivationEmail","description":"Send the candidate an activation email based on what platform they are accessing it from","operationId":"Accounts_SendActivationEmail","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"username","in":"query","description":"The candidate's email address to send the activation email to","required":true,"type":"string"},{"name":"platform","in":"query","description":"Source platform enum (0 = Web, 1 = App; default is Web)","required":true,"type":"string","enum":["Epsilon","Auriga"]}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/AddAttachment/{id}":{"post":{"tags":["Candidates"],"summary":"Upload a candidate attachment and alert the consultant via email","operationId":"Candidates_AddAttachment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The attachment to store","required":true,"schema":{"$ref":"#/definitions/AttachModel"}},{"name":"id","in":"path","description":"The entity ID number (e.g. candidate's peo_no)","required":true,"type":"integer","format":"int32"},{"name":"attachType","in":"query","description":"The attachment type","required":true,"type":"string","enum":["None","PeoAttach","CliAttach","JobAttach","LogAttach","InvAttach","PeoComplAttach","PeoComplAttachHolding"]}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/AddCandidateCareer":{"post":{"tags":["Candidates"],"summary":"Add to the candidate's career history","operationId":"Candidates_AddCandidateCareer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Career entry model to add","required":true,"schema":{"$ref":"#/definitions/PeoCareerUpload"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/AddCandidateCodes":{"post":{"tags":["Candidates"],"summary":"Add an array of keywords/codes to a candidate","operationId":"Candidates_AddCandidateCodes","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Object containing array of candidate codes to add","required":true,"schema":{"$ref":"#/definitions/KeywordArrayBase"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/AddCandidateEducation":{"post":{"tags":["Candidates"],"summary":"Adds to a candidate's education history","operationId":"Candidates_AddCandidateEducation","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Education entry to be added","required":true,"schema":{"$ref":"#/definitions/PeoEducModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/AddContactLog":{"post":{"tags":["Candidates"],"summary":"Add a candidate contact log action","operationId":"Candidates_AddContactLog","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Contact log model","required":true,"schema":{"$ref":"#/definitions/ContactLogCandidateCreationModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/AddExpense":{"post":{"tags":["Candidates"],"summary":"Adds an expense object","operationId":"Candidates_AddExpense","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Expense model to be added","required":true,"schema":{"$ref":"#/definitions/DayExpenseBase"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/AddMobileDevice":{"post":{"tags":["Candidates"],"summary":"Add a candidate's mobile device to the database","operationId":"Candidates_AddMobileDevice","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"device","in":"body","description":"Candidate Device model","required":true,"schema":{"$ref":"#/definitions/PeoDeviceModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/AddMobileMessage":{"post":{"tags":["Candidates"],"summary":"Adds a message from a candidate's app to the database","operationId":"Candidates_AddMobileMessage","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The App Message object","required":true,"schema":{"$ref":"#/definitions/UploadAppMessageModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContactLogModel"}}}}},"/api/Candidates/AddPeopleQuestion":{"post":{"tags":["Candidates"],"summary":"Add a questionnaire response object","operationId":"Candidates_AddPeopleQuestion","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Questionnaire response object","required":true,"schema":{"$ref":"#/definitions/PeoQuestionModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/AddPeopleQuestionAnswer":{"post":{"tags":["Candidates"],"summary":"Add a response to a single question (referencing the questionnaire response object)","operationId":"Candidates_AddPeopleQuestionAnswer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Question response model","required":true,"schema":{"$ref":"#/definitions/PeoQuestionAnswerModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/AddPreReg":{"post":{"tags":["Candidates"],"summary":"Add a pre-registered candidate to the database","operationId":"Candidates_AddPreReg","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Candidate model to add","required":true,"schema":{"$ref":"#/definitions/PeopleModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/AdhocEmail":{"post":{"tags":["Candidates"],"summary":"Send an ad hoc email","operationId":"Candidates_AdhocEmail","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"An email model containing email subject, message, to address and name","required":true,"schema":{"$ref":"#/definitions/EmailTo"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/AlertConsultantToDuplicateCandidate":{"post":{"tags":["Candidates"],"summary":"Sends an alert to the consultant if a potential duplicate has been found for one of their candidates","operationId":"Candidates_AlertConsultantToDuplicateCandidate","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"peo_title","in":"body","description":"Candidate title/salutation","required":true,"schema":{"type":"string"}},{"name":"peo_forename","in":"query","description":"Candidate forename","required":true,"type":"string"},{"name":"peo_surname","in":"query","description":"Candidate surname","required":true,"type":"string"},{"name":"peo_email","in":"query","description":"Candidate email address","required":true,"type":"string"},{"name":"peo_postcode","in":"query","description":"Candidate postcode","required":true,"type":"string"},{"name":"peo_phone_number","in":"query","description":"Candidate phone number","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/ApplyForJob":{"post":{"tags":["Candidates"],"summary":"Apply a candidate to a job","operationId":"Candidates_ApplyForJob","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"job_no","in":"query","description":"Job ID number","required":true,"type":"integer","format":"int32"},{"name":"email_consultant","in":"query","description":"Whether the consultant should be emailed to alert them of the application","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/ApplyForShifts":{"post":{"tags":["Candidates"],"summary":"v2.0.0.3\r\nApply a candidate to a series of shifts within jobs\r\nNOTE: Only allows a single shift!","operationId":"Candidates_ApplyForShifts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"shiftsUpload","in":"body","description":"A model containing an of shift ID numbers to apply to","required":true,"schema":{"$ref":"#/definitions/WipShiftsUpload"}}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}}}},"/api/Candidates/BlockMobileDevice":{"put":{"tags":["Candidates"],"summary":"Blocks a specific mobile device identified by a combination of candidate ID and the device's UUID","operationId":"Candidates_BlockMobileDevice","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"uuid","in":"query","description":"The device's unique UUID","required":true,"type":"string"},{"name":"app_name","in":"query","description":"The app name to filter by","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/CandidateTokenLogin":{"post":{"tags":["Candidates"],"summary":"Method can only be reached if the accessing agent has a valid ID and token","operationId":"Candidates_CandidateTokenLogin","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"device","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/PeoDeviceLoginModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CandidateLoginModelApp"}}}}},"/api/Candidates/ChangeCandidatePassword":{"post":{"tags":["Candidates"],"summary":"Change candidate password","operationId":"Candidates_ChangeCandidatePassword","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Password update model","required":true,"schema":{"$ref":"#/definitions/PasswordChangeModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/CheckIn":{"put":{"tags":["Candidates"],"summary":"Method to allow a candidate to check in to a job shift","operationId":"Candidates_CheckIn","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"day_no","in":"query","description":"Day ID number","required":true,"type":"integer","format":"int32"},{"name":"lat","in":"query","description":"The latitude at the point of checkin (nullable)","required":false,"type":"number","format":"double"},{"name":"lng","in":"query","description":"The longitude at the point of checkin (nullable)","required":false,"type":"number","format":"double"}],"responses":{"200":{"description":"OK","schema":{"format":"date-time","type":"string"}}}}},"/api/Candidates/CheckOut":{"put":{"tags":["Candidates"],"summary":"Method to allow a candidate to check out of a job shift","operationId":"Candidates_CheckOut","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"day_no","in":"query","description":"Day ID number","required":true,"type":"integer","format":"int32"},{"name":"lat","in":"query","description":"The latitude at the point of checkout (nullable)","required":false,"type":"number","format":"double"},{"name":"lng","in":"query","description":"The longitude at the point of checkout (nullable)","required":false,"type":"number","format":"double"}],"responses":{"200":{"description":"OK","schema":{"format":"date-time","type":"string"}}}}},"/api/Candidates/CheckQRCode":{"get":{"tags":["Candidates"],"operationId":"Candidates_CheckQRCode","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"cli_no","in":"query","required":true,"type":"integer","format":"int32"},{"name":"barcode","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/Candidates/ClearAvailability":{"put":{"tags":["Candidates"],"summary":"Update candidate availability","operationId":"Candidates_ClearAvailability","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Candidate update availability model","required":true,"schema":{"$ref":"#/definitions/AvailabilityUpdateModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/ConfirmShift":{"put":{"tags":["Candidates"],"summary":"Updates a shift to be confirmed","operationId":"Candidates_ConfirmShift","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"day_no","in":"query","description":"Shift ID to confirm","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/CreateWIP":{"post":{"tags":["Candidates"],"summary":"Create a WIP action","operationId":"Candidates_CreateWIP","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Model for creating a WIP action","required":true,"schema":{"$ref":"#/definitions/WIPCreationModel_Candidate"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/DeleteCandidateCareer":{"delete":{"tags":["Candidates"],"summary":"Delete a candidate's career history entry","operationId":"Candidates_DeleteCandidateCareer","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"emp_no","in":"query","description":"Candidate's career entry ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/DeleteCandidateCodes":{"delete":{"tags":["Candidates"],"summary":"Remove a number of keywords from a candidate","operationId":"Candidates_DeleteCandidateCodes","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Array of keyword ID numbers to be removed","required":true,"schema":{"$ref":"#/definitions/KeywordArrayBase"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/DeleteCandidateEducation":{"delete":{"tags":["Candidates"],"summary":"Delete a candidate's education history entry","operationId":"Candidates_DeleteCandidateEducation","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"edu_no","in":"query","description":"Education entry ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/DeleteExpense":{"delete":{"tags":["Candidates"],"summary":"Delete an expense by its ID number","operationId":"Candidates_DeleteExpense","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"exp_no","in":"query","description":"Expense ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/DeleteExpensesByDay":{"delete":{"tags":["Candidates"],"summary":"Delete all expenses submitted against a specific day","operationId":"Candidates_DeleteExpensesByDay","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"day_no","in":"query","description":"Day ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/DeleteMobileDevice":{"delete":{"tags":["Candidates"],"summary":"Deletes a specific mobile device identified by a combination of candidate ID and the device's UUID","operationId":"Candidates_DeleteMobileDevice","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"uuid","in":"query","description":"The device's unique UUID","required":true,"type":"string"},{"name":"app_name","in":"query","description":"The app name to filter by","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/DeletePicture":{"delete":{"tags":["Candidates"],"summary":"Delete candidate's picture","operationId":"Candidates_DeletePicture","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/GetAgreedToWebTOB":{"get":{"tags":["Candidates"],"summary":"Get whether a candidate has agreed to the web terms of business","operationId":"Candidates_GetAgreedToWebTOB","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/Candidates/GetAppDashboard":{"get":{"tags":["Candidates"],"summary":"Returns a dashboard summary for the candidate","operationId":"Candidates_GetAppDashboard","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filterOut","in":"query","required":false,"type":"string","enum":["NONE","CONFIRMED","MESSAGED","PROVISIONAL","CONTACTED"]},{"name":"filterIn","in":"query","required":false,"type":"string","enum":["NONE","CONFIRMED","MESSAGED","PROVISIONAL","CONTACTED"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AppDashboardModel"}}}}},"/api/Candidates/GetAvailability":{"get":{"tags":["Candidates"],"summary":"Get a candidate's availability","operationId":"Candidates_GetAvailability","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"start_date","in":"query","description":"Start date for range search","required":false,"type":"string","format":"date-time"},{"name":"end_date","in":"query","description":"End date for range search","required":false,"type":"string","format":"date-time"},{"name":"format","in":"query","required":false,"type":"string","enum":["Default","ThisMonth","LastMonth","NextMonth","Last6Months","Next6Months"]}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/AvailabilityRange"}}}}},"/api/Candidates/GetCandidateEmailsByStatusDate":{"get":{"tags":["Candidates"],"summary":"Gets a list of updated candidates and their email addresses","operationId":"Candidates_GetCandidateEmailsByStatusDate","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dt","in":"query","description":"Candidate status date to filter by (works at a day level, not time)","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SimpleIntAndString"}}}}}},"/api/Candidates/GetCandidateQualLevel":{"get":{"tags":["Candidates"],"summary":"Get a candidate's qualification level","operationId":"Candidates_GetCandidateQualLevel","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/GetCandidatesByStatusDate":{"get":{"tags":["Candidates"],"summary":"Gets a list of updated candidates and their statuses","operationId":"Candidates_GetCandidatesByStatusDate","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dt","in":"query","description":"Candidate status date to filter by (works at a day level, not time)","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SimpleIntAndString"}}}}}},"/api/Candidates/GetCandidatesWithoutPayrollNo":{"get":{"tags":["Candidates"],"summary":"Returns an array of ID numbers for candidates without a payroll number based on a list of candidate ID numbers provided","operationId":"Candidates_GetCandidatesWithoutPayrollNo","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"idArr","in":"query","description":"The array of candidate ID numbers to inspect","required":true,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"format":"int32","type":"integer"}}}}}},"/api/Candidates/GetCareer":{"get":{"tags":["Candidates"],"summary":"Get a candidate's career history","description":"Returns a list of candidate career entries","operationId":"Candidates_GetCareer","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CandidateCareerHistory"}}}}},"/api/Candidates/GetClassNameAndVersion":{"get":{"tags":["Candidates"],"summary":"Get the validated list of keywords for candidates","operationId":"Candidates_GetClassNameAndVersion","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"classNo","in":"query","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClassificationModel"}}}}},"/api/Candidates/GetCodes":{"get":{"tags":["Candidates"],"summary":"Get a list of keywords assigned to a candidate","operationId":"Candidates_GetCodes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"class_no","in":"query","description":"Keyword class number filter (optional)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/KeywordArray"}}}}}},"/api/Candidates/GetConsultant":{"get":{"tags":["Candidates"],"summary":"Get the candidate's consultant details","operationId":"Candidates_GetConsultant","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConsultantBriefModel"}}}}},"/api/Candidates/GetContactLogAttachmentData":{"get":{"tags":["Candidates"],"summary":"Gets a list of contact log attachments filtered by logNo","operationId":"Candidates_GetContactLogAttachmentData","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"logNo","in":"query","description":"The contact log ID","required":true,"type":"integer","format":"int32"},{"name":"attNo","in":"query","description":"The attachment ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"byte","type":"string"}}}}},"/api/Candidates/GetContactLogAttachments":{"get":{"tags":["Candidates"],"summary":"Gets a list of contact log attachments filtered by logNo","operationId":"Candidates_GetContactLogAttachments","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"logNo","in":"query","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/LogAttachModel"}}}}}},"/api/Candidates/GetContactLogEntries":{"get":{"tags":["Candidates"],"summary":"Gets a list of contact log entries filtered by actions defined in the gen user config (EPSILONAPI &gt; ContactLogActions)","operationId":"Candidates_GetContactLogEntries","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"logAction","in":"query","required":false,"type":"string"},{"name":"mustHaveAttachment","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ContactLogExtendedModel"}}}}}},"/api/Candidates/GetCV":{"get":{"tags":["Candidates"],"summary":"Get the candidate's CV","operationId":"Candidates_GetCV","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PeoCVModel"}}}}},"/api/Candidates/GetDashboardJobs":{"get":{"tags":["Candidates"],"summary":"Get a list of candidate jobs","operationId":"Candidates_GetDashboardJobs","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/JobBriefModel"}}}}}},"/api/Candidates/GetDaysUntilAvailEntry":{"get":{"tags":["Candidates"],"summary":"Gets the number of days until the candidate's next availability entry","operationId":"Candidates_GetDaysUntilAvailEntry","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/GetDetails":{"get":{"tags":["Candidates"],"summary":"Get the main candidate details","description":"15/03/2021 DC - Added Candidate nationality","operationId":"Candidates_GetDetails","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PeopleDetails"}}}}},"/api/Candidates/GetDeviceList":{"get":{"tags":["Candidates"],"summary":"Get a list of candidate devices","operationId":"Candidates_GetDeviceList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"app_name","in":"query","description":"The app name to filter devices by","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PeoDeviceModel"}}}}}},"/api/Candidates/GetEducation":{"get":{"tags":["Candidates"],"summary":"Get a candidate's education history","operationId":"Candidates_GetEducation","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PeoEducModel"}}}}}},"/api/Candidates/GetExpense":{"get":{"tags":["Candidates"],"summary":"Gets a specific expense by ID number","operationId":"Candidates_GetExpense","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"exp_no","in":"query","description":"Expense ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DayExpenseModel"}},"404":{"description":"No expense found for this candidate and expense ID number"}}}},"/api/Candidates/GetExpensesForDay":{"get":{"tags":["Candidates"],"summary":"Get a list of expenses submitted for a particular day","operationId":"Candidates_GetExpensesForDay","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"day_no","in":"query","description":"Day ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DayExpenseModel"}}},"400":{"description":"Candidate does not have permission to access this day"},"404":{"description":"Day not found"}}}},"/api/Candidates/GetExpenseTypes":{"get":{"tags":["Candidates"],"summary":"Get a list of expense types/categories","operationId":"Candidates_GetExpenseTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}}}},"/api/Candidates/GetExtendedCandidateProfile":{"get":{"tags":["Candidates"],"summary":"Get the candidate details with additional fields","operationId":"Candidates_GetExtendedCandidateProfile","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PeopleExtendedModel"}}}}},"/api/Candidates/GetGdprStatus":{"get":{"tags":["Candidates"],"operationId":"Candidates_GetGdprStatus","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SimplyDataAndKey[String,Boolean]"}}}}}},"/api/Candidates/GetHasCV":{"get":{"tags":["Candidates"],"summary":"Check if a candidate has a CV","operationId":"Candidates_GetHasCV","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"","schema":{"type":"boolean"}}}}},"/api/Candidates/GetJobDetails":{"get":{"tags":["Candidates"],"summary":"Get job details","description":"Also flags if the candidate is attached to this job","operationId":"Candidates_GetJobDetails","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"job_no","in":"query","description":"Job ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JobBasicModel"}}}}},"/api/Candidates/GetJobInterview":{"get":{"tags":["Candidates"],"summary":"Get any candidate-job interview details","operationId":"Candidates_GetJobInterview","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"job_no","in":"query","description":"Job ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WIPModel"}}}}},"/api/Candidates/GetJobNotifications":{"get":{"tags":["Candidates"],"summary":"Get a list of candidate job alerts","operationId":"Candidates_GetJobNotifications","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/JobNotificationModel"}}}}}},"/api/Candidates/GetJobs":{"get":{"tags":["Candidates"],"summary":"Get a refined list of candidate jobs","description":"Includes potentially filtering based on shortlisted jobs","operationId":"Candidates_GetJobs","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/JobBriefModel"}}}}}},"/api/Candidates/GetMobileMessages":{"get":{"tags":["Candidates"],"summary":"Get mobile messages starting from a specified message","operationId":"Candidates_GetMobileMessages","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"log_no","in":"query","description":"The log ID number to start pulling messages back from, i.e. log_no 5 onwards","required":false,"type":"integer","format":"int32"},{"name":"log_con","in":"query","description":"The consultant initials to filter by (defaults to blank)","required":false,"type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/AppMessageGroupModel"}}}}}},"/api/Candidates/GetMobileMessagesPage":{"get":{"tags":["Candidates"],"summary":"Get mobile messages for a conversation with a consultant","operationId":"Candidates_GetMobileMessagesPage","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"log_con","in":"query","description":"The consultant initials to filter by","required":true,"type":"string"},{"name":"pageIndex","in":"query","description":"The page to return","required":true,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"The number of items per page to return","required":true,"type":"integer","format":"int32"},{"name":"logNo","in":"query","description":"The contact log ID number to filter by","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/AppMessageGroupModel"}}}}}},"/api/Candidates/GetMobileMessagesSummary":{"get":{"tags":["Candidates"],"summary":"26/10/20 DC - Added helper method to get just a message summary\r\nGet a summary of the candidate's message conversations with consultants","operationId":"Candidates_GetMobileMessagesSummary","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/AppMessageSummaryModel"}}}}}},"/api/Candidates/GetNationality":{"get":{"tags":["Candidates"],"summary":"Added 18/09/2019 by DJC\r\nGets the candidate's nationality","operationId":"Candidates_GetNationality","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/Candidates/GetNotes":{"get":{"tags":["Candidates"],"summary":"Get candidate notes","operationId":"Candidates_GetNotes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/Candidates/GetPenPicture":{"get":{"tags":["Candidates"],"summary":"Get the candidate's pen picture","operationId":"Candidates_GetPenPicture","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/Candidates/GetPicture":{"get":{"tags":["Candidates"],"summary":"Get candidate's picture","operationId":"Candidates_GetPicture","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"format":"byte","type":"string"}}}}},"/api/Candidates/GetPictureAlt":{"get":{"tags":["Candidates"],"summary":"Get candidate's picture","operationId":"Candidates_GetPictureAlt","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PeoPictureModel"}}}}},"/api/Candidates/GetProgress":{"get":{"tags":["Candidates"],"summary":"Get candidate progress status (% based on profile completion)","operationId":"Candidates_GetProgress","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/GetProvisionalShifts":{"get":{"tags":["Candidates"],"operationId":"Candidates_GetProvisionalShifts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"start_date","in":"query","required":false,"type":"string","format":"date-time"},{"name":"end_date","in":"query","required":false,"type":"string","format":"date-time"},{"name":"pageIndex","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DetailedShiftModel"}}}}}},"/api/Candidates/GetReceiveEmailAlertsStatus":{"get":{"tags":["Candidates"],"summary":"Get whether candidate is signed up to receive email alerts","operationId":"Candidates_GetReceiveEmailAlertsStatus","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/Candidates/GetRecommendedJobs":{"get":{"tags":["Candidates"],"summary":"Get a list of recommended jobs for a candidate","operationId":"Candidates_GetRecommendedJobs","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"distance","in":"query","required":false,"type":"integer","format":"int32"},{"name":"class_no_arr","in":"query","description":"An array of classification boxes to match by","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"comparator","in":"query","description":"The comparator to join classification boxes by (options: AND/OR)","required":false,"type":"string","enum":["AND","OR"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/RecommendedJobModel"}}}}}},"/api/Candidates/GetSalarySought":{"get":{"tags":["Candidates"],"summary":"Get salary sought by a candidate","operationId":"Candidates_GetSalarySought","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/GetShifts":{"post":{"tags":["Candidates"],"summary":"Returns a list of shifts for the candidate based on set criteria","operationId":"Candidates_GetShifts","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The search criteria to filter by","required":true,"schema":{"$ref":"#/definitions/BasicSearchModel"}},{"name":"pageIndex","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ShiftsByYearModel"}}}}}},"/api/Candidates/GetShortlistedJobs":{"get":{"tags":["Candidates"],"summary":"Get a list of candidate's shortlisted jobs","operationId":"Candidates_GetShortlistedJobs","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/JobBriefModel"}}}}}},"/api/Candidates/GetShortlistedShift":{"get":{"tags":["Candidates"],"summary":"","operationId":"Candidates_GetShortlistedShift","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"day_no","in":"query","description":"The shift ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DetailedShiftModel"}}}}},"/api/Candidates/GetShortlistedShifts":{"get":{"tags":["Candidates"],"summary":"Get shortlisted shifts","operationId":"Candidates_GetShortlistedShifts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filterOutOverlapsWithExistingJobs","in":"query","description":"","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DetailedShiftModel"}}}}}},"/api/Candidates/GetStatusInJob":{"get":{"tags":["Candidates"],"summary":"Get the candidate's current status in a job","operationId":"Candidates_GetStatusInJob","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"job_no","in":"query","description":"Job ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/Candidates/GetTalentBankJobs":{"get":{"tags":["Candidates"],"summary":"Get list of jobs that a candidate has been proposed to via the talent bank","operationId":"Candidates_GetTalentBankJobs","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/JobBriefModel"}}}}}},"/api/Candidates/GetTimesheet":{"get":{"tags":["Candidates"],"summary":"Gets a single candidate timesheet based on search criteria","description":"If no start or end date is provided, dates default to the start and end of the current week.\r\nIf a start date is provided but no end, the end date defaults to the end of the start date's week.\r\nIf an end date is provided but no start, the start date defaults to the start of the end date's week.\r\nTo get a single timesheet, simply provide a start and/or end date for that timesheet's week and the job ID number.","operationId":"Candidates_GetTimesheet","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"date","in":"query","description":"Date of timesheet (default: Today)","required":false,"type":"string","format":"date-time"},{"name":"status_filter","in":"query","required":false,"type":"string","enum":["All","New","InProgress","Claimed","Approved","PartiallyApproved"]},{"name":"peo_no","in":"query","description":"Candidate ID number (default: all)","required":false,"type":"integer","format":"int32"},{"name":"job_no","in":"query","description":"Job ID number (default: all)","required":false,"type":"integer","format":"int32"},{"name":"cnt_no","in":"query","description":"Contat ID number (default all)","required":false,"type":"integer","format":"int32"},{"name":"include_expenses","in":"query","description":"Flag to toggle if expenses are included in the returned data (default: false)","required":false,"type":"boolean"},{"name":"consultantStamp.grp","in":"query","description":"This is the entity's group/business attribute","required":false,"type":"string","maxLength":15,"minLength":0},{"name":"consultantStamp.branch","in":"query","description":"This is the entity's branch/office attribute","required":false,"type":"string","maxLength":15,"minLength":0},{"name":"consultantStamp.division","in":"query","description":"This is the entity's group/sector attribute","required":false,"type":"string","maxLength":15,"minLength":0},{"name":"consultantStamp.con_initials","in":"query","description":"This is the entity's group attribute","required":false,"type":"string","maxLength":3,"minLength":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TimesheetModel"}}}}},"/api/Candidates/GetTimesheetDayEstimate":{"get":{"tags":["Candidates"],"summary":"Returns the estimated earnings for a timesheet day\r\n14/10/2020 DC - Config option added to block the return of TS estimates (says 0)","operationId":"Candidates_GetTimesheetDayEstimate","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"day_no","in":"query","description":"The day ID number","required":true,"type":"integer","format":"int32"},{"name":"hours","in":"query","description":"The hours worked (default = 1)","required":false,"type":"number","format":"float"}],"responses":{"200":{"description":"OK","schema":{"title":"Object","type":"object"}}}}},"/api/Candidates/GetTimesheets":{"get":{"tags":["Candidates"],"summary":"Gets a list of candidate's timesheets based on search criteria","description":"If no start or end date is provided, dates default to the start and end of the current week.\r\nIf a start date is provided but no end, the end date defaults to the end of the start date's week.\r\nIf an end date is provided but no start, the start date defaults to the start of the end date's week.\r\nTo get a single timesheet, simply provide a start and/or end date for that timesheet's week and the job ID number.\r\n15/03/2021 DC - Updated method to return itemised rates","operationId":"Candidates_GetTimesheets","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"include_all_client","in":"query","description":"Flag to include all clients (default: false)","required":false,"type":"boolean"},{"name":"include_subs","in":"query","description":"Flag to include all subsidiaries (default: false)","required":false,"type":"boolean"},{"name":"start_date","in":"query","description":"Start date for timesheet search period (default: 7 days previous)","required":false,"type":"string","format":"date-time"},{"name":"end_date","in":"query","description":"End date for timesheet search period (default: today)","required":false,"type":"string","format":"date-time"},{"name":"status_filter","in":"query","description":"Timesheet status to filter by (default: all)","required":false,"type":"string","enum":["All","New","InProgress","Claimed","Approved","PartiallyApproved"]},{"name":"format","in":"query","description":"Format of data to return","required":false,"type":"string","enum":["Default","GroupByDate","GroupByStatus"]},{"name":"limitToClientsWithLogins","in":"query","description":"Used to limit timesheet data retrieval to jobs whose clients' have an Epsilon login","required":false,"type":"boolean"},{"name":"peo_no","in":"query","description":"Candidate ID number (default: all)","required":false,"type":"integer","format":"int32"},{"name":"job_no","in":"query","description":"Job ID number (default: all)","required":false,"type":"integer","format":"int32"},{"name":"cnt_no","in":"query","description":"Contat ID number (default all)","required":false,"type":"integer","format":"int32"},{"name":"include_expenses","in":"query","description":"Flag to toggle if expenses are included in the returned data (default: false)","required":false,"type":"boolean"},{"name":"consultantStamp.grp","in":"query","description":"This is the entity's group/business attribute","required":false,"type":"string","maxLength":15,"minLength":0},{"name":"consultantStamp.branch","in":"query","description":"This is the entity's branch/office attribute","required":false,"type":"string","maxLength":15,"minLength":0},{"name":"consultantStamp.division","in":"query","description":"This is the entity's group/sector attribute","required":false,"type":"string","maxLength":15,"minLength":0},{"name":"consultantStamp.con_initials","in":"query","description":"This is the entity's group attribute","required":false,"type":"string","maxLength":3,"minLength":0}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"title":"Object","type":"object"}}}}}},"/api/Candidates/GetTimesheetsByDate":{"get":{"tags":["Candidates"],"summary":"Gets a list of candidate's timesheets based on search criteria","description":"If no start or end date is provided, dates default to the start and end of the current week.\r\nIf a start date is provided but no end, the end date defaults to the end of the start date's week.\r\nIf an end date is provided but no start, the start date defaults to the start of the end date's week.\r\nTo get a single timesheet, simply provide a start and/or end date for that timesheet's week and the job ID number.","operationId":"Candidates_GetTimesheetsByDate","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"include_all_client","in":"query","description":"Flag to include all clients (default: false)","required":false,"type":"boolean"},{"name":"include_subs","in":"query","description":"Flag to include all subsidiaries (default: false)","required":false,"type":"boolean"},{"name":"start_date","in":"query","description":"Start date for timesheet search period (default: 7 days previous)","required":false,"type":"string","format":"date-time"},{"name":"end_date","in":"query","description":"End date for timesheet search period (default: today)","required":false,"type":"string","format":"date-time"},{"name":"status_filter","in":"query","description":"Timesheet status to filter by (default: all)","required":false,"type":"string","enum":["All","New","InProgress","Claimed","Approved","PartiallyApproved"]},{"name":"format","in":"query","description":"Format of data to return","required":false,"type":"string","enum":["Default","GroupByDate","GroupByStatus"]},{"name":"limitToClientsWithLogins","in":"query","description":"Used to limit timesheet data retrieval to jobs whose clients' have an Epsilon login","required":false,"type":"boolean"},{"name":"peo_no","in":"query","description":"Candidate ID number (default: all)","required":false,"type":"integer","format":"int32"},{"name":"job_no","in":"query","description":"Job ID number (default: all)","required":false,"type":"integer","format":"int32"},{"name":"cnt_no","in":"query","description":"Contat ID number (default all)","required":false,"type":"integer","format":"int32"},{"name":"include_expenses","in":"query","description":"Flag to toggle if expenses are included in the returned data (default: false)","required":false,"type":"boolean"},{"name":"consultantStamp.grp","in":"query","description":"This is the entity's group/business attribute","required":false,"type":"string","maxLength":15,"minLength":0},{"name":"consultantStamp.branch","in":"query","description":"This is the entity's branch/office attribute","required":false,"type":"string","maxLength":15,"minLength":0},{"name":"consultantStamp.division","in":"query","description":"This is the entity's group/sector attribute","required":false,"type":"string","maxLength":15,"minLength":0},{"name":"consultantStamp.con_initials","in":"query","description":"This is the entity's group attribute","required":false,"type":"string","maxLength":3,"minLength":0}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TimesheetGroupedYearModel"}}}}}},"/api/Candidates/GetTimesheetsByStatus":{"get":{"tags":["Candidates"],"summary":"Gets a list of candidate's timesheets based on search criteria","description":"If no start or end date is provided, dates default to the start and end of the current week.\r\nIf a start date is provided but no end, the end date defaults to the end of the start date's week.\r\nIf an end date is provided but no start, the start date defaults to the start of the end date's week.\r\nTo get a single timesheet, simply provide a start and/or end date for that timesheet's week and the job ID number.","operationId":"Candidates_GetTimesheetsByStatus","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"include_all_client","in":"query","description":"Flag to include all clients (default: false)","required":false,"type":"boolean"},{"name":"include_subs","in":"query","description":"Flag to include all subsidiaries (default: false)","required":false,"type":"boolean"},{"name":"start_date","in":"query","description":"Start date for timesheet search period (default: 7 days previous)","required":false,"type":"string","format":"date-time"},{"name":"end_date","in":"query","description":"End date for timesheet search period (default: today)","required":false,"type":"string","format":"date-time"},{"name":"status_filter","in":"query","description":"Timesheet status to filter by (default: all)","required":false,"type":"string","enum":["All","New","InProgress","Claimed","Approved","PartiallyApproved"]},{"name":"format","in":"query","description":"Format of data to return","required":false,"type":"string","enum":["Default","GroupByDate","GroupByStatus"]},{"name":"limitToClientsWithLogins","in":"query","description":"Used to limit timesheet data retrieval to jobs whose clients' have an Epsilon login","required":false,"type":"boolean"},{"name":"peo_no","in":"query","description":"Candidate ID number (default: all)","required":false,"type":"integer","format":"int32"},{"name":"job_no","in":"query","description":"Job ID number (default: all)","required":false,"type":"integer","format":"int32"},{"name":"cnt_no","in":"query","description":"Contat ID number (default all)","required":false,"type":"integer","format":"int32"},{"name":"include_expenses","in":"query","description":"Flag to toggle if expenses are included in the returned data (default: false)","required":false,"type":"boolean"},{"name":"consultantStamp.grp","in":"query","description":"This is the entity's group/business attribute","required":false,"type":"string","maxLength":15,"minLength":0},{"name":"consultantStamp.branch","in":"query","description":"This is the entity's branch/office attribute","required":false,"type":"string","maxLength":15,"minLength":0},{"name":"consultantStamp.division","in":"query","description":"This is the entity's group/sector attribute","required":false,"type":"string","maxLength":15,"minLength":0},{"name":"consultantStamp.con_initials","in":"query","description":"This is the entity's group attribute","required":false,"type":"string","maxLength":3,"minLength":0}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TimesheetGroupedStatusModel"}}}}}},"/api/Candidates/GetUnreadMessagesCount":{"get":{"tags":["Candidates"],"summary":"Gets the number of unread messages sent to a candidate","operationId":"Candidates_GetUnreadMessagesCount","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"log_con","in":"query","description":"Consultant to filter by (optional)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/GetUpcomingWorkDays":{"get":{"tags":["Candidates"],"summary":"Returns a list of upcoming work days for a candidate","operationId":"Candidates_GetUpcomingWorkDays","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"start_date","in":"query","description":"Start date (default: today)","required":false,"type":"string","format":"date-time"},{"name":"end_date","in":"query","description":"End date (default: 30 days in future)","required":false,"type":"string","format":"date-time"},{"name":"pageIndex","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ShiftsByYearModel"}}}}}},"/api/Candidates/GetUpcomingWorkDaysV2":{"get":{"tags":["Candidates"],"summary":"Returns a list of upcoming work days for a candidate","operationId":"Candidates_GetUpcomingWorkDaysV2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"start_date","in":"query","description":"Start date (default: today)","required":false,"type":"string","format":"date-time"},{"name":"end_date","in":"query","description":"End date (default: 30 days in future)","required":false,"type":"string","format":"date-time"},{"name":"pageIndex","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DetailedShiftModel"}}}}}},"/api/Candidates/GetUrl":{"get":{"tags":["Candidates"],"summary":"Gets a candidate's URL","operationId":"Candidates_GetUrl","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/Candidates/GetValidationTable":{"get":{"tags":["Candidates"],"summary":"Gets a list of validated table values","operationId":"Candidates_GetValidationTable","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"table_name","in":"query","description":"Validated field name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}}}},"/api/Candidates/GetValidationTableVersion":{"get":{"tags":["Candidates"],"summary":"Get updated date of validated field","operationId":"Candidates_GetValidationTableVersion","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"table_name","in":"query","description":"Validated field name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"date-time","type":"string"}}}}},"/api/Candidates/GetWIPStatus":{"get":{"tags":["Candidates"],"summary":"Get the candidate's WIP status in a job","operationId":"Candidates_GetWIPStatus","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"job_no","in":"query","description":"The job ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WIPModel"}}}}},"/api/Candidates/GetWorkingDay":{"get":{"tags":["Candidates"],"summary":"Gets an upcoming candidate shift","operationId":"Candidates_GetWorkingDay","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"day_no","in":"query","description":"The shift ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DetailedShiftModel"}}}}},"/api/Candidates/RejectShift":{"put":{"tags":["Candidates"],"summary":"Reject a shift","operationId":"Candidates_RejectShift","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"day_no","in":"query","description":"Shift ID to rejected","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/ResetTimesheetForDay":{"put":{"tags":["Candidates"],"summary":"Resets a timesheet day to its original status","operationId":"Candidates_ResetTimesheetForDay","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"day_no","in":"query","description":"Day ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/SaveCandidateCV":{"post":{"tags":["Candidates"],"summary":"Saves a CV against a candidate","operationId":"Candidates_SaveCandidateCV","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Candidate CV model to save","required":true,"schema":{"$ref":"#/definitions/PeoCVUpdateModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/SaveCandidateNotes":{"put":{"tags":["Candidates"],"summary":"Save candidate notes","operationId":"Candidates_SaveCandidateNotes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"notes","in":"query","description":"Candidate notes to upload","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/SaveExternalLogin":{"post":{"tags":["Candidates"],"summary":"Store a LinkedIn profile url","operationId":"Candidates_SaveExternalLogin","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Link type model","required":true,"schema":{"$ref":"#/definitions/PeoExtLinkModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/SavePenPicture":{"put":{"tags":["Candidates"],"summary":"Saves the candidate's pen picture","operationId":"Candidates_SavePenPicture","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"pen_picture","in":"query","description":"Candidate pen picture to save","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/SavePicture":{"post":{"tags":["Candidates"],"summary":"Save candidate's picture","operationId":"Candidates_SavePicture","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The model containing picture data to store","required":true,"schema":{"$ref":"#/definitions/PeoPictureModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/SavePictureString":{"post":{"tags":["Candidates"],"summary":"Save candidate's picture","operationId":"Candidates_SavePictureString","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The model containing picture information to store","required":true,"schema":{"$ref":"#/definitions/PeoPictureModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/SaveUrl":{"put":{"tags":["Candidates"],"summary":"Saves the candidate's URL","operationId":"Candidates_SaveUrl","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"url","in":"query","description":"The URL value to store","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/SendEmailToConsultant":{"post":{"tags":["Candidates"],"summary":"Send an email to the candidate's consultant","operationId":"Candidates_SendEmailToConsultant","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The email model containing the subject and message","required":true,"schema":{"$ref":"#/definitions/EmailContent"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/SendJobToAFriend":{"post":{"tags":["Candidates"],"summary":"Send an email containing job details to a third party","operationId":"Candidates_SendJobToAFriend","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Share Job Model containing required info to send to friend","required":true,"schema":{"$ref":"#/definitions/ShareJobModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/SetCandidateStatus":{"post":{"tags":["Candidates"],"summary":"Sets the candidate updated date","operationId":"Candidates_SetCandidateStatus","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"status","in":"query","description":"The new candidate status to apply","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/SetCandidateUpdatedDate":{"post":{"tags":["Candidates"],"summary":"Set the candidate updated date","operationId":"Candidates_SetCandidateUpdatedDate","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateAgreeWebTOB":{"put":{"tags":["Candidates"],"summary":"Set whether a candidate has agreed to the web terms of business","operationId":"Candidates_UpdateAgreeWebTOB","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"agree_tob","in":"query","description":"Flag to set whether candidate has agreed to the web terms of business","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateAvailability":{"put":{"tags":["Candidates"],"summary":"Update a candidate's availability","operationId":"Candidates_UpdateAvailability","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Candidate update availability model","required":true,"schema":{"$ref":"#/definitions/AvailabilityUpdateModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateAvailabilityByChar":{"put":{"tags":["Candidates"],"summary":"Update candidate availability directly with an availability code character","operationId":"Candidates_UpdateAvailabilityByChar","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Candidate update availability model","required":true,"schema":{"$ref":"#/definitions/AvailabilityUpdateCharModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateAvailabilityRange":{"put":{"tags":["Candidates"],"summary":"Update candidate availability across a range","operationId":"Candidates_UpdateAvailabilityRange","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Candidate update availability model","required":true,"schema":{"$ref":"#/definitions/AvailabilityUpdateModel"}},{"name":"date_range.start_date","in":"query","description":"Start date for range search","required":false,"type":"string","format":"date-time"},{"name":"date_range.end_date","in":"query","description":"End date for range search","required":false,"type":"string","format":"date-time"},{"name":"date_range.format","in":"query","required":false,"type":"string","enum":["Default","ThisMonth","LastMonth","NextMonth","Last6Months","Next6Months"]}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateBankDetails":{"post":{"tags":["Candidates"],"operationId":"Candidates_UpdateBankDetails","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/JsonForm_BankingModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateCandidateCareer":{"put":{"tags":["Candidates"],"summary":"Update a candidate's career history entry","operationId":"Candidates_UpdateCandidateCareer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Career entry model to update","required":true,"schema":{"$ref":"#/definitions/PeoCareerUpdate"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateCandidateConsultant":{"put":{"tags":["Candidates"],"summary":"Updates the candidate's consultant and business/office/sector based on that consultant","operationId":"Candidates_UpdateCandidateConsultant","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"conInitials","in":"query","description":"The new consultant initials","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateCandidateEducation":{"put":{"tags":["Candidates"],"summary":"Update a candidate's education history entry","operationId":"Candidates_UpdateCandidateEducation","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"The Candidate Education entry to update","required":true,"schema":{"$ref":"#/definitions/PeoEducModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateCandidateGender":{"put":{"tags":["Candidates"],"summary":"Update candidate gender","operationId":"Candidates_UpdateCandidateGender","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"peo_gender","in":"query","description":"candidate gender","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateCandidateMain":{"put":{"tags":["Candidates"],"summary":"Update the candidate's main details","description":"14/10/20 - Config added to check if consultant should be updated to a change in details","operationId":"Candidates_UpdateCandidateMain","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Candidate Details to be updated","required":true,"schema":{"$ref":"#/definitions/PeopleDetailsUpdateModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateCandidateQualLevel":{"put":{"tags":["Candidates"],"summary":"Update a candidate's qualification level","operationId":"Candidates_UpdateCandidateQualLevel","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"peo_qual_level","in":"query","description":"New qualification level","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateCandidateStarterDeclaration":{"put":{"tags":["Candidates"],"summary":"Update starter declaration","operationId":"Candidates_UpdateCandidateStarterDeclaration","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"starterDeclaration","in":"query","description":"The new candidate starter declaration (must be a single character)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateCandidateTPB":{"put":{"tags":["Candidates"],"summary":"Updated the candidates Temp/Perm/Both statud","operationId":"Candidates_UpdateCandidateTPB","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"tpb","in":"query","description":"Value to indicate if candidate is temp/perm/both","required":true,"type":"string","enum":["Temp","Perm","Both"]}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateConversationMessagesAsRead":{"put":{"tags":["Candidates"],"summary":"04/02/2021 - Marks all the messages within a conversation as read","operationId":"Candidates_UpdateConversationMessagesAsRead","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"log_con","in":"query","description":"The conversation's consultant initials","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateExpense":{"put":{"tags":["Candidates"],"summary":"Update an expense by its ID number","operationId":"Candidates_UpdateExpense","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"exp_no","in":"query","description":"Expense ID number","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"The expense details","required":true,"schema":{"$ref":"#/definitions/DayExpenseBase"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateJobWip":{"post":{"tags":["Candidates"],"summary":"Update a candidate's WIP status within a job","operationId":"Candidates_UpdateJobWip","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"jobNo","in":"query","description":"The job ID number","required":true,"type":"integer","format":"int32"},{"name":"statusNo","in":"query","description":"The new status number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateLimitedCompanyDetails":{"put":{"tags":["Candidates"],"summary":"Added 18/09/2019 by DJC\r\nUpdates a candidate's limited company details","operationId":"Candidates_UpdateLimitedCompanyDetails","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Candidate's limited company details","required":true,"schema":{"$ref":"#/definitions/PeoLtdModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/Candidates/UpdateMobileMessagesAsRead":{"put":{"tags":["Candidates"],"summary":"Marks all the messages matching the list of log ID numbers as completed","operationId":"Candidates_UpdateMobileMessagesAsRead","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"A model containing a list of message ID numbers and a consultant initials to update by","required":true,"schema":{"$ref":"#/definitions/UploadReadMessagesModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"format":"int32","type":"integer"}}}}}},"/api/Candidates/UpdateNationality":{"put":{"tags":["Candidates"],"summary":"Added 18/09/2019 by DJC\r\nUpdates a candidate's nationality","operationId":"Candidates_UpdateNationality","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"nationality","in":"query","description":"The new nationality to set","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/Candidates/UpdatePaymentDetails":{"put":{"tags":["Candidates"],"summary":"Update a candidate's payment details","description":"Added 18/08/2019","operationId":"Candidates_UpdatePaymentDetails","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Candidate's payment details","required":true,"schema":{"$ref":"#/definitions/PeoPayModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/Candidates/UpdatePeopleQuestion":{"put":{"tags":["Candidates"],"summary":"Update a single question response","operationId":"Candidates_UpdatePeopleQuestion","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Question response model","required":true,"schema":{"$ref":"#/definitions/PeoQuestionModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateReceiveAlertsStatus":{"put":{"tags":["Candidates"],"summary":"Updates whether the candidate receive alert messages","operationId":"Candidates_UpdateReceiveAlertsStatus","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"receive_alerts","in":"query","description":"Flag to set whether candidates receive status alert emails","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateSalarySought":{"put":{"tags":["Candidates"],"summary":"Set salary sought by a candidate","operationId":"Candidates_UpdateSalarySought","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"salary_sought","in":"query","description":"Salary sought to set","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateSource":{"post":{"tags":["Candidates"],"summary":"Updates the candidates source value","operationId":"Candidates_UpdateSource","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"source","in":"query","description":"New source value (get available values from General/GetValidationTable?table_name=adv_media","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Candidates/UpdateTimesheetArray":{"put":{"tags":["Candidates"],"summary":"Updates an array of timesheet days","operationId":"Candidates_UpdateTimesheetArray","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"auto_calculate","in":"query","description":"Flag to calculate charges based on hours and rates automatically (default is true)","required":true,"type":"boolean"},{"name":"update_hours","in":"query","description":"Flag to calculate hours based on times and update automatically (default is true)","required":true,"type":"boolean"},{"name":"model","in":"body","description":"Timesheet model containing days to update","required":true,"schema":{"$ref":"#/definitions/TimesheetUpdateModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TimesheetUpdateResult"}}}}},"/api/Candidates/UpdateTimesheetDay":{"put":{"tags":["Candidates"],"summary":"Updates a timesheet day","operationId":"Candidates_UpdateTimesheetDay","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"auto_calculate","in":"query","description":"Flag to calculate charges based on hours and rates automatically (default is true)","required":true,"type":"boolean"},{"name":"update_hours","in":"query","description":"Flag to calculate hours based on times and update automatically (default is true)","required":true,"type":"boolean"},{"name":"model","in":"body","description":"Timesheet day model to update","required":true,"schema":{"$ref":"#/definitions/TimesheetDayUpdateModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TimesheetUpdateResult"}}}}},"/api/Candidates/UploadAttachment/{id}":{"post":{"tags":["Candidates"],"summary":"UploadAttachment","operationId":"Candidates_UploadAttachment","consumes":["application/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"File","in":"formData","description":"Upload profile picture","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}}}},"/api/Candidates/UploadProfilePicture":{"post":{"tags":["Candidates"],"summary":"Uploads a profile picture for the active user\r\nOnly accepts JPG and JPEG","operationId":"Candidates_UploadProfilePicture","consumes":["application/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"File","in":"formData","description":"Upload profile picture","required":true,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"title":"HttpResponseMessage","type":"object"}}}}},"/api/Candidates/WithdrawFromJob":{"post":{"tags":["Candidates"],"summary":"Withdraw a candidate from a job","operationId":"Candidates_WithdrawFromJob","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"job_no","in":"query","description":"Job ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/AddAgencyToJob":{"post":{"tags":["Clients"],"summary":"Add an agency to a job","operationId":"Clients_AddAgencyToJob","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"cli_no","in":"query","description":"Client ID number","required":true,"type":"integer","format":"int32"},{"name":"job_no","in":"query","description":"Job ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/AddCandidateToTalentBank":{"post":{"tags":["Clients"],"summary":"Add a candidate to the talent bank","operationId":"Clients_AddCandidateToTalentBank","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"cli_no","in":"query","description":"Client ID number","required":true,"type":"integer","format":"int32"},{"name":"cand_no","in":"query","description":"Candidate ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/AddContactLog":{"post":{"tags":["Clients"],"summary":"Add a candidate contact log action","operationId":"Clients_AddContactLog","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"peo_no","in":"query","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","description":"Contact log model","required":true,"schema":{"$ref":"#/definitions/ContactLogCandidateCreationModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/AddExpense":{"post":{"tags":["Clients"],"summary":"Adds an expense object","operationId":"Clients_AddExpense","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Expense model to be added","required":true,"schema":{"$ref":"#/definitions/DayExpenseBase"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/AddJobKeywords":{"post":{"tags":["Clients"],"summary":"Add codes to a job","operationId":"Clients_AddJobKeywords","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"job_no","in":"query","description":"Job ID number","required":true,"type":"integer","format":"int32"},{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/KeywordArrayBase"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/AdhocEmail":{"post":{"tags":["Clients"],"summary":"Send an ad hoc email","operationId":"Clients_AdhocEmail","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/EmailTo"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/AuthoriseTimesheet":{"put":{"tags":["Clients"],"summary":"Client authorises candidate timesheet days","description":"A client user can authorise a series of timesheet days in batch.\r\nA unique Timesheet number will be generated and assigned to each batch.\r\nApproval will fail if day ID numbers are invalid, days haven't been claimed (and need to be) or if days have already been approved","operationId":"Clients_AuthoriseTimesheet","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"day_no_arr","in":"body","description":"Series of day ID numbers to authorise by","required":true,"schema":{"type":"array","items":{"format":"int32","type":"integer"}}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/CreateBasicCandidate":{"post":{"tags":["Clients"],"summary":"Creates a basic candidate","operationId":"Clients_CreateBasicCandidate","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Candidate Creation Model","required":true,"schema":{"$ref":"#/definitions/PeopleBasicCreationModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/CreateNewJob":{"post":{"tags":["Clients"],"summary":"Create a new job","operationId":"Clients_CreateNewJob","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"job","in":"body","description":"New job to be created","required":true,"schema":{"$ref":"#/definitions/JobCreationModel"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/CreateWIP":{"post":{"tags":["Clients"],"summary":"Creates a Work in Progress (WIP) action","operationId":"Clients_CreateWIP","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","description":"Model for creating a WIP action","required":true,"schema":{"$ref":"#/definitions/WIPCreationModel_Client"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/DeleteAgencyFromJob":{"delete":{"tags":["Clients"],"summary":"Remove and agency from a job","operationId":"Clients_DeleteAgencyFromJob","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"job_no","in":"query","description":"Job ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/DeleteExpense":{"delete":{"tags":["Clients"],"summary":"Delete an expense by its ID number","operationId":"Clients_DeleteExpense","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"exp_no","in":"query","description":"Expense ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/DeleteExpensesByDay":{"delete":{"tags":["Clients"],"summary":"Delete all expenses submitted against a specific day","operationId":"Clients_DeleteExpensesByDay","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"day_no","in":"query","description":"Day ID number","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/DeleteFromTalentBank":{"delete":{"tags":["Clients"],"summary":"Deletes a candidate from a client talent bank","operationId":"Clients_DeleteFromTalentBank","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"cli_no","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"cand_no","in":"query","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Clients/DeleteJobKeywords":{"delete":{"tags":["Clients"],"summary":"Delete keywords from a job","ope
[...]
